.top-nav {
  background-color:  #e0e0eb;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  text-align: center;
  box-shadow: 0 0 25px 0 black;
  background-image: url('https://images.unsplash.com/photo-1601850494422-3cf14624b0b3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fGFuaW1lfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.top-nav h1 {
  color:   #ffffff;
  font-family: Attack, sans-serif;
  font-size: 30px;
  padding-top: 15px;
  margin: 0px;
  display: flex;
  justify-content: center;
}
.top-nav p {
  color:   #ffffff;
  font-size: 12px;
  margin: 0px;
  font-family: Attack, sans-serif;

}

body {
  background-color:   #f0e6ff;
  padding: 10px;
  margin-top: 80px;
  text-align: left;
  background-image: url('https://images.unsplash.com/photo-1601850494422-3cf14624b0b3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fGFuaW1lfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.displayCovers img {
  transition: 1s;
  padding: 5px;
  width: 100px;
  border-radius: 10px;

}
.displayCovers img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
.superNRow img {
  transition: 1s;
  padding: 5px;
  width: 100px;
  border-radius: 10px;

}
.superNRow img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
.horrorContainer h2 {
  color:   #ffffff;
  font-family: Attack, sans-serif;
}
.superNContainer h2 {
  color:   #ffffff;
  font-family: Attack, sans-serif;
}
#Modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: none;

}
#box {
  background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  line-height: 120%;

}
#box img {
width: 33%;
float:left;
margin: 10px;
}
#textLayout {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 200px;
  overflow: scroll;
  font-size: 14px;

}
#close {
  float: right;
  margin: 5px;
  padding-top: 15px;
}
.modal-buttons {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}
#box h1 {
  font-size: 14px;
    font-family: Attack, sans-serif;
}
#box h3 {
  font-size: 18px;
  float: left;
  position: relative;
  top: 10px;

}
#box li {
  list-style: none;
  position: relative;
  left: 150px;
  top: 46px;
}
#footer {
  background-color:  #e0e0eb;
  border-radius: 8px;
  height: 80px;
  box-shadow: 0 0 25px 0 black;
  background-image: url('https://images.unsplash.com/photo-1601850494422-3cf14624b0b3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fGFuaW1lfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
display: flex;

}
#footer a {
  flex: 1 0 10%;
   text-align: center;
   padding: 10px;
   padding-top: 33px;
   overflow: hidden;
   justify-content: center;
   color:   #ffffff;
   font-family: Attack, sans-serif;
   font-size: 12px;

}

@font-face { font-family: Attack; src: url('AttackOnCourier-.ttf'); }
